/* Color List
#05386B
#379683
#5CDB95
#8EE4AF
#EDF5E1
*/
/* Fonts Used
"Rubik", sans-serif;
"Noto Sans", sans-serif;
*/
body {
    font-family: "Noto Sans", sans-serif;
    background-color: #5CDB95;
    color: #05386B;
    margin: 5%;
    margin-bottom: 0;
}

p {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}

/* Main header that will sit at the top of page at all times. */
.main-header {
   max-width: 150px;
   font-family: "Rubik", sans-serif;
   text-align: left;
   font-weight: 700 bold;
   color: #05386B;
   margin: 0;
   padding-top: 20px;
   padding-bottom: 20px;
   overflow: none;
}

/* Nav bar styling starts here */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 250px;
}

nav a {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #05386B;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}

.crj {
    padding-left: 2px;
    padding-right: 2px;
    border: 2px solid;
    border-radius: 5px;
}
/*Nav bar styling finishes here */

.aboutContent img {
    display: flex;
    float: right;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

main {
    margin: 0;
    padding-top: 2%;
}

/*Blog Page styling starts here*/
.postList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 300px;
    margin-bottom: 10%;
    border: 2px solid black;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.card h3 {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 0;
}

.publishDate {
    margin-top: 2%;
    text-align: left;
    width: 100%;
    margin-left: 5%;
}

.card img {
   width: 80%;
   align-items: center;
}

/*Blog page styling finishes here*/
.lorem {
    width: 100%;
}

/*Contact page styling starts here*/
.contactForm label {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    padding-top: 2%;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

/*Footer styling starts here */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkedin {
    width: 50px;
    height: 50px;
}

#instagram {
    width: 50px;
    height: 50px;
}

#github {
    width: 50px;
    height: 50px;
}

#twitter {
    width: 50px;
    height: 50px;
}
/*Footer styling finishes here*/

/*Tablet media breakpoint*/
@media only screen and (min-width: 768px){
    .postList {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .card {
        margin: 0;
        margin-bottom: 10%;
        width: 300px;
        max-width: 40%;
    }
}