/* Color List
--space-cadet: #2d3142ff;
--silver: #bfc0c0ff;
--white: #ffffffff;
--mandarin: #ef8354ff;
--independence: #4f5d75ff;
*/

body {
    background-color: #4f5d75ff;
    margin: 0;
}

/* Main header that will sit at the top of page at all times. */
.main-header {
   font-family: "Rubik", sans-serif;
   text-align: center;
   background-color: #4f5d75ff;
   color: #bfc0c0ff;
   margin: 0;
   padding-top: 15px;
   padding-bottom: 20px;
}
/* Nav bar */
nav {
    background-color: rgb(70, 79, 95);
    font-family: "Rubik", sans-serif;
}
nav .active {
    background-color: green;
}
nav a {
    text-decoration: none;
    overflow: hidden;
    color: #bfc0c0ff;
    padding: 10px 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}
nav li{
    display: inline;
    text-align: center;
}
p{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

.social-icons {
    display: flex;
    justify-content: center;
}
#linkedin {
    width: 76px;
    height: 64px;
    padding-left: 10px; padding-right: 10px;
}
#instagram {
    width: 64px;
    height: 64px;
    padding-left: 10px; padding-right: 10px;
}
#github {
    width: 64px;
    height: 64px;
    padding-left: 10px; padding-right: 10px;
}
#twitter {
    width: 64px;
    height: 64px;
    padding-left: 10px; padding-right: 10px;
}


