/* Color List
--space-cadet: #2d3142ff;
--silver: #bfc0c0ff;
--white: #ffffffff;
--mandarin: #ef8354ff;
--independence: #4f5d75ff;
*/

.headings {
   font-family: "Rubik", sans-serif;
}

p{
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;

}

.social-icons {
    display: flex;
    justify-content: center;
}


#linkedin {
    width: 76px;
    height: 64px;
    padding-left: 10px; padding-right: 10px;
}
#instagram {
    width: 64px;
    height: 64px;
    padding-left: 10px; padding-right: 10px;
}
#github {
    width: 64px;
    height: 64px;
    padding-left: 10px; padding-right: 10px;
}
#twitter {
    width: 64px;
    height: 64px;
    padding-left: 10px; padding-right: 10px;
}


